<table class="table">
	<thead>
		<tr>
			<th>Track Num</th>
			<th>Title</th>
			<th>Artist</th>
		</tr>
	</thead>
	<tbody>
		<% @plays.each do |play|%>
		<tr>
			<td>
				<%= play["rank"] %>
			</td>
			<td>
				<%= play["title"] %>
			</td>
			<td>
				<%= play["artist"] %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<input class="ok" onclick="alert('Hello world!');" type="button" value="Greeting" />
<%= button_to "Some Button", plays_path, :method=> "post" %>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Song One
  </label>
</div>